<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Upload new video</h2>
      <%= form_for @video do |f| %>
        <%= f.text_field :description %>
        <%= f.file_field :attachment %>
        <%= f.button :submit, class: 'btn-primary', value: 'Upload Video' %>
      <% end %>
    </div>
  </div>
</div>
