<div class="container">
  <div class="row video-full" data-video-id="<%= @video.id %>">
    <div class="col-md-10">
      <h1>
        <%= @video.description %>
      </h1>
      <p class="small">
        <%= link_to 'Back to videos' ,videos_path %>
      </p>

        <%= cl_video_tag(@video.attachment.url) %>
    </div>
  </div>
</div>
