<div class="row">
  <div class="col-lg-8 col-lg-offset-2 well">
    <h3 class="text-center">ABOUT</h3>

    <p>We are gamers, and we have grown up playing video games, just like you.</p>

    <p>Now games are mainstream and an official sport, and with mobile games out
      there the players' community has become even bigger.</p>

    <p>We hope that VideoGamesRate becomes the Wikipedia of games, Esports and
      players. A place where you can share your expertise to empowers other
      players to keep up and learn new tactics and new games in a social way,
      sharing your videos, writing reviews, rating content and users and keeping
      your gaming profile update.</p>

    <p>In an era in which a lot of decision about games are based on data and
      money, we want to hear the human side of the gaming and Esport community.</p>

    <p>Join us in this new project and support us on
      <a href="https://www.facebook.com/videogamesrate">Facebook</a>,
      <a href="https://twitter.com/VideoGamesRateA">Twitter</a>,
      <a href="https://www.patreon.com/videogamesrate">Patreon</a> and <a href="https://www.instagram.com/videogamesrate/?hl=en">Instagram</a>.</p>
  </div>
</div>
