<p>Hey there!</p>
<p>You have recently registered an account on videogamesrate.com</p>

<p>In order to start using your account you will need to confirm it.</p>
<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
